
body {
background-color:#f3a333;
font-family:Helvetica, sans-serif;
font-weight:700;
min-width:360px;
min-height:640px;
text-align: center;
padding:0;
}

body{
margin: 15% auto;
}

.tick{
 text-align: center;
 margin: 1rem 0 0 0;
}

#career{
  position: relative;
  bottom: 50%;
}

ul {
padding-left:48px;
list-style-type: none;
margin-left: 0;

}

li {
  padding:3px;
}

#h1-title {
font-family:Verdana;
margin-bottom:50px;
padding:0;
}

#p-description {
font-family:monospace;
font-weight:bold;
font-size:1.6rem;
border-bottom:solid;
padding:10px 0 10px 0;
margin-top:15px;
}

#main-container {
background-color:#fffe9a;
border:solid 1.2px;
box-shadow:5px 50px 100px;
margin:0 auto;
max-width:1000px;
width:80%;
}

.labels-container {
display:inline-block;
padding:5px;
margin-top:5px;
width:25%;
vertical-align: top;
text-align: right;
}

#Fav-container {
height:40px;
display:inline-block;
text-align:left;
vertical-align: bottom;
position: relative;
top: 20px;
right: 70px;
width: 20%;
}

.container-x {
padding: 5px;
margin-top: 5px;
width: 50%;
vertical-align: -0.3em;
margin:auto;
text-align: left;
}

.inputs-container {
display:inline-block;
margin:0;
width:32%;
text-align: left;
}

.FavSub {

}

.fab-subjects {
height: 100px;
}

.inputs {
margin:5px;
padding:5px;
width:200px;
}

#number {
width:30%
}

#dropdown {
width:95px;
display: inline;
position: relative;
right: 50px
}

#select {
display: inline-block;
margin-top: 10px;
}

.checkbox {
display:inline-block;
margin-left: 10px
}

.check-purpose,
 input[type="checkbox"] {
  float:left;
  clear:both;
  margin: 3px;
}

.terarea {
  position: relative;
  right: 1%;
  display: inline-block;
  margin: 10px 0 40px;
}

.addmore {
  position: relative;
  right: 10%;
  padding: 5px;
  margin:0;
}

.terasubmit {
  position: relative !important;
    bottom: 88px;
    left: 2%;
    background: lightblue;
    padding: 10px;
    border: solid 1.5px;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: bold;

   
