html, body {
  background-color: #7ed3b2;
  font-family: Trajan;
  margin: 20px 100px 0 100px;
}

#title, #description {
  text-align: center;
}

#title {
  font-family: Verdana;
  margin-bottom: 50px;
}

#description {
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: solid;
  padding: 10px;
  margin: 0
}

#container {
  background-color: #b9e6d3;
  border: solid 1.2px;
  margin: 0;
  padding: 0;
  box-shadow: 5px 50px 100px
}
