html,
body {
background-color:#f3a333;
font-family:Helvetica, sans-serif;
font-weight:700;
min-width:400px;
text-align: center;
overflow: hidden;
padding:0;
}

ul {
  padding-left:30px;
  list-style-type: none;
}

#h1-title {
font-family:Verdana;
margin:15px 15px;
padding:0;
}

#p-description {
font-family:monospace;
font-weight:bold;
font-size:1.6rem;
border-bottom:solid;
padding:10px 0 10px 0;
margin-top:15px;
}

#main-container {
background-color:#fffe9a;
border:solid 1.2px;
box-shadow:5px 50px 100px;
margin:0 auto;
max-width:1000px;
width:80%;
}

.labels-container {
display:inline-block;
padding:5px;
margin-top:5px;
width:25%;
vertical-align: top;
text-align: right;
}

#Fav-container {
width:40%;
display:inline-block;
text-align: left;
}

.inputs-container {
display:inline-block;
padding:5px;
margin:0;
width:32%;
text-align: left;
}

.FavSub {
padding:5px;
margin:5px;
}

.fab-subjects {
height: 100px;
}

.inputs {
margin:5px;
padding:5px;
width:200px;
}

#number {
width:30%
}

.select {
display: inline-block;
}

.checkbox {
  display:inline-block;
}
